*{
  transition: 0.7s;
}
header {
  background: url("https://wallpapercrafter.com/th800/150190-digital-digital-art-artwork-simple-simple-background-Sun-sun-rays-sunrise-morning-trees-mountains-landscape-vector-art-vector-graphics-blue-blue-background-minimalism.jpg") no-repeat; 
  background-size: cover;
}
@media(max-width: 800px) {
  #my-table {
    overflow-x: scroll;
  }
}